@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img src="/images/index-bg.jpg" alt="Certificate">
    <div class="overlay">
        <h2 class="text-white">Learning Today,<br>Leading Tomorrow</h2>
        <p >We are team of talented designers making websites with Bootstrap</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="courses.html" class="btn btn-dark">Get Started</a>
        </div>
    </div>
</div>
