@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <img src="/images/index-bg.jpg" alt="Certificate">
    <div class="overlay">
        <h2 class="text-white">Learning Today,<br>Leading Tomorrow</h2>
        <p>We are team of talented designers making websites with Bootstrap</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="courses.html" class="btn btn-outline-light rounded-pill">Get Started</a>
        </div>
    </div>
</div>
<div class="row mt-5" style="margin-left:100px">
    <div class="col-6 col-sm-6">
        <h3 style="font-weight:bold; font-size:32px">Voluptatem dignissimos provident quasi corporis</h3>
        <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
        </p>
        <ul style="list-style:none; padding:0;">
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
        </ul>
        <a href="#" class="btn btn-readmore"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
    </div>
    <div class="col-6 col-sm-6">
        <img src="/images/about.jpg" style="width:60%; height:auto" />
    </div>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/Student/LandingPage.css/">
}