@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <img src="/images/index-bg.jpg" alt="Certificate">
    <div class="overlay">
        <h2 class="text-white">Learning Today,<br>Leading Tomorrow</h2>
        <p>We are team of talented designers making websites with Bootstrap</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
            <a href="courses.html" class="btn btn-outline-light rounded-pill">Get Started</a>
        </div>
    </div>
</div>
<div class="row mt-5" style="margin-left:100px">
    <div class="col-6 col-sm-6">
        <h3 style="font-weight:bold; font-size:32px">ViLearning</h3>
        <p class="fst-italic">
            Dịch vụ học qua mạng gồm có:
        </p>
        <ul style="list-style:none; padding:0;">
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Chương trình ôn, luyện thi</span></li>
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Thi thử đại học trực tuyến</span></li>
            <li><i class="bi bi-check-circle" style="color:#5fcf80;"></i> <span>Dành cho học sinh trung học phổ thông, trung học cơ sở và tiểu học.</span></li>
        </ul>
        <a href="#" class="btn btn-readmore"><span>Tìm hiểu thêm</span> <i class="bi bi-arrow-right"></i></a>
    </div>
    <div class="col-6 col-sm-6">
        <img src="/images/about.jpg" style="width:60%; height:auto" />
    </div>
</div>

<div class="row mt-5">

</div>
@section Styles{
    <link rel="stylesheet" href="~/css/Student/LandingPage.css">
}