@page
@model CertificateSubmitModel
@{
    ViewData["Title"] = "Chứng chỉ giáo viên";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="mt-5">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-3 bg-white rounded-md shadow-md p-7 flex flex-col gap-4">
        <div><a asp-page="/Account/Manage/Index" class="text-decoration-none font-weight-bold">Thông tin cá nhân</a></div>
        <div><a asp-page="/Account/Manage/ChangePassword" class="text-decoration-none font-weight-bold">Thay đổi mật khẩu</a></div>
        @if (Model.Role != null && Model.Role.Contains("Student"))
        {
                <div><a asp-page="/Account/Manage/CertificateSubmit" class="text-info text-decoration-none font-weight-bold">Nộp chứng chỉ giáo viên</a></div>
        }
    </div>
    <div class="col-md-6" style="margin-bottom:230px">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                @if(Model.Input.TeacherCertificateImgUrl != null)
                {
                    <div class="alert alert-warning">Chứng chỉ đã được nộp vui lòng đợi xét duyệt</div>
                }
                else
                {
                    <input type="file" name="file" asp-for="Input.TeacherCertificateImgUrl" class="form-control" placeholder="Nộp chứng chỉ" />
                    <label for="file" asp-for="Input.TeacherCertificateImgUrl" class="form-label">Chứng chỉ giáo viên</label>
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Lưu</button>
                }         
            </div>         
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
