@page
@model IndexModel
@{
    ViewData["Title"] = "Thông tin các nhân";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<h3 class="mt-5">@ViewData["Title"]</h3>
@* <partial name="_StatusMessage" for="StatusMessage" /> *@
<div class="row">
    <div class="col-md-3 bg-white rounded-md shadow-md p-7 flex flex-col gap-4">
        <div><a asp-page="/Account/Manage/Index" class="text-info text-decoration-none font-weight-bold">Thông tin cá nhân</a></div>
        <div><a asp-page="/Account/Manage/ChangePassword" class="text-decoration-none font-weight-bold">Thay đổi mật khẩu</a></div>
        @if (Model.Role.Contains("Student"))
        {
            <div><a asp-page="/Account/Manage/CertificateSubmit" class="text-decoration-none font-weight-bold">Nộp chứng chỉ giáo viên</a></div>
        }
        @if (Model.Role.Contains("Teacher"))
        {
            <div><a asp-page="/Account/Manage/BalanceTeacher" class="text-decoration-none font-weight-bold">Số dư</a></div>
        }
    </div>
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Vui lòng nhập tên người dùng" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" placeholder="Họ và tên: "/>
                <label asp-for="Input.FullName" class="form-label"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="date" asp-for="Input.DOB" class="form-control" placeholder="Ngày sinh(MM/DD/yyyy): " value="@Model.Input.DOB?.ToString("yyyy-MM-dd")" />
                <label asp-for="Input.DOB" class="form-label"></label>
                <span asp-validation-for="Input.DOB" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Gender" class="form-select">
                    <option value="">Chọn giới tính</option>
                    <option value="Male">Nam</option>
                    <option value="Female">Nữ</option>
                    <option value="Other">Khác</option>
                </select>
                <label asp-for="Input.Gender" class="form-label"></label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Lưu</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
