@{
    ViewData["Title"] = "Upload Questions";
}

@section Styles {
<style>
        
</style>
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            Upload Question File <i type="button" id="info-popover" data-bs-html="true" class="btn bi bi-info-circle" data-toggle="popover" data-bs-placement="bottom"
                                    title="<h5>Thêm câu hỏi hàng loạt</h5>"
                                    data-bs-content="Đây là cách để bạn có thể thêm câu hỏi hàng loạt vào ngân hàng câu hỏi của khóa học.<br>
                                              Hãy thêm file văn bản chứa các câu hỏi theo định dạng quy định của chúng tôi (nằm ở bên phải phần thêm file)."></i>
        </h3>
    </div>
    <div class="card-body row">
        <form class="col-md-6" method="post" enctype="multipart/form-data" id="uploadQuestionsForm" asp-area="Teacher" asp-controller="Question" asp-action="UploadQuestions">
            <div class="form-group">
                <input type="hidden" class="form-control" name="courseId" value="@ViewData["courseId"]"/>
                <label for="file">Upload Questions File</label>
                <input type="file" class="form-control" id="file" name="file" required>
            </div>
            <div id="UploadFile_ErrorMessage" class="alert alert-danger d-none error-message">Please select a file to upload.</div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <div class="col-md-6">
            <a class="question-file-format" data-gall="gallery01" href="~/images/question-file-format.png"><img width="600px" height="auto" src="~/images/question-file-format.png"></a>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        new VenoBox({
            selector: '.question-file-format',
            numeration: true,
            infinigall: true,
            share: true,
            spinner: 'rotating-plane'
        });
    </script>

}