body {
    overflow-x: hidden !important;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2500px;
    padding: 0;
}

.container img {
    width: 100%;
    height: 820px;
}


.overlay {
    position: absolute;
    top: 50px;
    left: -300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
}

.btn-readmore {
    --bs-btn-color: #5fcf80;
    --bs-btn-border-color: #5fcf80;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5fcf80;
    --bs-btn-hover-border-color: #5fcf80;
    --bs-btn-focus-shadow-rgb: 95, 207, 128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5fcf80;
    --bs-btn-active-border-color: #5fcf80;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #5fcf80;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #5fcf80;
    --bs-gradient: none;
    outline: 2px solid #5fcf80;
    outline-offset: 2px;
}
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body .badge {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 12px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 22px;
}

.card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.6;
}

.author {
    display: flex;
    align-items: center;
}
.stats {
    display: flex;
    align-items: center;
}

    .stats span {
        font-size: 14px;
        color: #333;
        margin-right: 10px;
    }

    .stats .ml-2 {
        margin-left: 10px;
    }

.price {
    font-size: 18px;
    font-weight: bold;
}