* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1100;
}

.back-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.course-title {
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
}

.sidebar {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.menu-item {
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 30px;
}

.main-content {
    overflow-y: auto;
    height: 100vh;
    flex: 1;
    max-width:80%;
    width: calc(100% - 300px);
}


.lesson-list {
    background-color: #f9f9f9;
    padding: 0;
    border-left: 1px solid #ddd;
    position: relative;
    max-width:100%;
}


    .lesson-item:hover {
        background-color: RGB(241 240 238);
    }

    .lesson-item a {
        display: block;
        height: inherit;
        width: inherit;
        line-height: 3.5rem;
        padding-left:1rem;
        
    }

.lesson-status {
    font-size: 1.5em;
    color: #4caf50;
    position:absolute;
    left: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;
    z-index:1100;
}

.nav-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 8rem;
}

    .nav-button:hover {
        background-color: RGB(46 139 49);
    }

.chat-icon {
    font-size: 1.5em;
    cursor: pointer;
}

.lesson-name {
    padding-left: 1rem;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
}


.current-lesson {
    background-color: RGB(255 244 215);
}
.resizer {
    cursor:col-resize;
    width:5px;
}
.overlay-section {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35rem;
    background-color: #f9f9f9; 
    z-index: 1000;
    overflow-y: auto; 
}

.overlay-content {
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    background-color: #fff; 
    
}


.overlay-from-right {
    right: 0;
    left: auto;
}
