@model List<Course>

@{
    ViewData["Title"] = "Course Manager";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Courses</h2>
            <div id="courseList">
                @foreach (var course in Model)
                {
                    <div class="course-card">
                        <div class="course-header">
                            @course.CourseName
                            <button class="btn btn-light btn-sm btn-primary float-right" type="button" data-bs-toggle="collapse" data-bs-target="#lessons-@course.CourseId">Show Lessons</button>
                        </div>
                        <div class="lesson-list collapse" id="lessons-@course.CourseId">
                            @foreach (var lesson in course.Lesson)
                            {
                                <div class="lesson-item">
                                    @lesson.LessonName
                                    <a class="btn btn-primary btn-sm float-right" asp-area="Teacher" asp-controller="Question" asp-action="QuestionManage" 
                                    asp-route-lessonId="@lesson.LessonId">Show Questions</a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/Teacher/CourseManage.css">
}
