@model ViLearning.Models.Lesson

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input  asp-for="LessonId" value="@Model.LessonId"/>
            <div class="form-group">
                <label asp-for="LessonName" class="control-label"></label>
                <input asp-for="LessonName" class="form-control" />
                <span asp-validation-for="LessonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfQuestion" class="control-label"></label>
                <input asp-for="NumberOfQuestion" class="form-control" />
                <span asp-validation-for="NumberOfQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonNo" class="control-label"></label>
                <input asp-for="LessonNo" class="form-control" />
                <span asp-validation-for="LessonNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" value="@Model.CourseId"></input>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
