@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vui lòng kiểm tra hộp thư email của bạn để reset lại mật khẩu
</p>
