@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận email quên mật khẩu";
}

<h1 class="mt-5">@ViewData["Title"]</h1>
<p>
    Vui lòng kiểm tra hộp thư email của bạn để reset lại mật khẩu
</p>
